<div class="row-fluid">
	<div class="span12">
		<div class="btn-group worried-list" data-toggle="buttons-checkbox">
			<% @worried_list.each do |item| %>
				<%= button_tag type:'button', data:{id:item.id, rank:item.rank}, class: "survey2 worried-item btn btn-info" do %>
					<%= item.content %>
				<% end %>
			<% end %>
			<%= render 'items/form', category: 'worried' %>
		</div>
		<div class="btn-group excited-list" data-toggle="buttons-checkbox">
			<% @excited_list.each do |item| %>
				<%= button_tag type:'button', data:{id:item.id, rank:item.rank}, class: "survey2 excited-item btn btn-info" do %>
					<%= item.content %>
				<% end %>
			<% end %>
			<%= render 'items/form', category: 'excited' %>
		</div>
	</div>
</div>
<div class="btn-group survey1-group" data-toggle="buttons-radio">
	<div class="row-fluid">
		<div class="span6">
			<button type="button" class="btn btn-primary btn-large survey1 worried-button">Worried?</button>
		</div>
		<div class="span6">
			<button type="button" class="btn btn-primary btn-large survey1 excited-button">Excited!</button>
		</div>
	</div>
</div>
