<!DOCTYPE html>
<html>
<head>
  <title>Rebel Alley</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
		<%= yield %>
		<div id="push"></div>
	</div>
	<div id="footer">
		<div class="row-fluid">
			<div class="span8">
				<p class="muted credit">Rebel Alley<span style="margin-left:100px;"><%= mail_to "tristan@rebelalley.com", "(Contact)", encode:"hex" %></span></p>	
			</div>
<div class="span4">
	<p class="muted credit" style="font-size:15px;">All assets on this site are properties of Imagine Television and Hurwitz Productions. Please visit <%= link_to "Netflix.com", "http://www.netflix.com" %> to watch Arrested Development season 4.</p>
</div>
		</div>
	</div>
</body>
</html>
